<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico">
    <title>nodejs</title>
    <link rel="stylesheet" href="/public/style.css">
    <script>
        function queryall() {

        }
    </script>
</head>

<body style="text-align: center;">
    <noscript>
      <strong>We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"><img alt="Vue logo" src="/img/logo.png"><p><a href="/" class="router-link-active">Home</a>&nbsp;          
      <a href="/queryall" class="router-link-exact-active router-link-active">QueryAll</a></p><a href="/queryWithQueryString" class="">Query by Type</a>&nbsp;
      <a href="/queryByKey" class="">Query by Key</a>&nbsp;
      <a href="/getCurrentStanding" class="">Get Poll Standings</a>&nbsp;
    
    <div class="posts"><h1>Current State: All Key-Value Pairs in World State</h1>
        <button onclick="queryall()">Query All Assets</button><!---->
    </div></div>
    <!-- built files will be auto injected -->

</body>

</html>