<!doctype html>
<html lang="ko">
  <head>
    <%- include('head.ejs'); %>
    <title>Final Vote Page</title>
  </head>
<% if(!session.userid) { %>
    <script>document.location.href="/login";</script>
<% } else { %>
  <body class="loginbody">
    <div class="text-center">
    	<div class="main-header">
    		<%- include('header.ejs'); %>
    	</div>

    	<div class="fin-box">
    		<div class="text-vote">
    		<span>소중한 시간을 내어</span>
    		<span>투표를 해주셔서 감사합니다.</span>
    		<span>확인 버튼을 누르면 메인으로 돌아갑니다.</span>
    		</div>
    		<div class="signbtns">
    		<button onclick="document.location.href='./main.html'" class="finbtn btn btn-primary">확인</button>
    		</div>
    	</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>