<noscript>
    <strong>We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
    <img alt="Vue logo" src="/img/sm_logo.png">
    <p><a href="/" class="router-link-active">홈으로</a>&nbsp;          
    <!--a href="/queryallpage" class="router-link-exact-active router-link-active">전체조회</a></p-->
    <!--a href="/querybytype" class="">분류별 조회</a>&nbsp;-->
    <a href="/querybykey" class="">키별 조회</a>&nbsp;
    <a href="/checkrating" class="">현재투표율</a>&nbsp;
    