<!doctype html>
<html lang="ko">
  <head>
	<%- include('head.ejs'); %>
	<title>Help Page</title>
  </head>
  <% /* session.univ는 학생의 단과대학을 표시해줌 */ %>
  <% if(!session.userid) { %>
    <script>document.location.href="/login";</script>
  <% } else { %>

<body class="loginbody">
    <div class="text-center">
        <div class="main-header">
            <a href="/main"><img class="mb-4" src="/img/smulogo4.png" alt width="150" height="47"></a>
            <a href="/help"><img class="help mb-4" src="/img/suggestion.png" alt width="45" height="40"></a>
            <a href="javascript:if(confirm('로그아웃하시겠습니까?'))document.location.href='/login';"><img class="sidemenu mb-4" src="/img/logout.png" alt width="45" height="40"></a>
        </div>
        <div class="help-box">
            <span class="help-email">abcd@sangmyung.kr</span>
            <span class="help-text">건의사항이 있을 경우 위 이메일로 메일을 보내주세요.</span>
        </div>
    </div>
	<%- include('foot.ejs'); %>
  </body>
  <% } %>
</html>