<!doctype html>
<html lang="ko">

<head>
    <%- include('head.ejs'); %>
    <title>Main Page</title>
</head>
<%/* session.univ 는 학생의 단과대학을 표시해줌 */%>
<% if(!session.userid) { %>
    <script>document.location.href="/login";</script>
<% } else { %>
<body class="loginbody">
    <div class="text-center">
        <div class="main-header">
            <a href="/main"><img class="mb-4" src="/img/smulogo4.png" alt width="150" height="47"></a>
            <a href="/help"><img class="help" src="/img/suggestion.png" alt width="45" height="40"></a>
            <a href="javascript:if(confirm('로그아웃하시겠습니까?'))document.location.href='/login';"><img class="sidemenu mb-4" src="/img/logout.png" alt width="45" height="40"></a>
        </div>
        
        <div class="vote-container">
            <a href="/sign"><span class="myvote">
                <img class="txtimg" src="/img/voteIcon.png">
                <div class="txt1">
                    <span id="txt_2" class="txt font-weight-bolder">투표하기</span>
                    <span id="txtln_2">후보에게 투표를 할 수 있습니다.</span>
                </div>
            </span></a>
            <a href="/myvote"><span class="myvote">
                <img class="txtimg" src="/img/checkMyVoteIcon.png">
                <div class="txt1">
                    <span id="txt_3" class="txt font-weight-bolder">투표 확인</span>
                    <span id="txtln_3">투표 내역을 확인할 수 있습니다.</span>
                </div>
            </span></a>
        </div>
    </div>
    <%- include('foot.ejs'); %>
</body>
<% } %>
</html>