<!doctype html>
<html lang="ko">
  <head>
    <%- include('head.ejs'); %>
    <title>Help Page</title>
  </head>
<% if(!session.userid) { %>
    <script>document.location.href="/login";</script>
<% } else { %>
  <body class="loginbody">
    <div class="text-center">
    	<%- include('header.ejs'); %>

		<div class="myvote-cards">
			<% for(var i=0;i<list.length;i++){ %>
			<div class="myvote-card">
				<span class="myvote-card-title">
					2020 상명대학교 총학생회 선거
				</span>
				<span class="myvote-card-content">
					기호 1번 S.Catch
				</span>
			</div>
			<% } %>
		</div>
    	
    </div>

    <%- include('foot.ejs'); %>
  </body>
<% } %>
</html>