<html lang="ko">

<head>
    <%- include('head.ejs'); %>
</head>

<body style="text-align: center;">
    <%- include('header.ejs'); %>
    <% if(session.userid) { %>
        <a href="/logout" class="">로그아웃</a>&nbsp;
    <% } else { %>
        <script>location.replace('/');</script>
    <% } %>
    <div class="posts">
            <h1>Query By Key</h1>
            <!--input type="text" id="key" placeholder="Enter Key to Query"><br-->
            <!--button onclick="querybykey()">Query</button><br-->
            <div id="querybykey"><b></b></div><br>
            <!---->
    </div>
    </div>

</body>

<script type="text/javascript">
    $(function(){
        querybykey();
    })
    var querybykey = function () {
        var key = '<%=session.userid%>';
        if (key != '' || key  != undefined ) {
            $.ajax({
                type: "POST",
                url: '/queryByKey',
                data: { 'key': key },
                success: function (data) {
                    console.log(data);
                    $('#querybykey > b').html(JSON.stringify(data, undefined, 4));
                }
            })
        }
    }
</script>

</html>