<!doctype html>
<html lang="ko">
  <head>
	<%- include('head.ejs'); %>
	<title>Sign Page</title>
  </head>
  <% /* session.univ는 학생의 단과대학을 표시해줌 */ %>
  <% if(!session.userid) { %>
    <script>document.location.href="/login";</script>
<% } else { %>
  <body class="loginbody">
    <div class="text-center">
        <%- include('header.ejs'); %>
        <form action="/process/checkagree" method="post">
          <div class="sign-box">
              <div class="in-sign-box">
                  <p class="signtext">유의사항</p>
                  <span style="font-size:small;">
                      2020학년도 상명대학교 서울캠퍼스 총학생회 및 단과대학생회 선거를 온라인투표로 진행함에 있어 부정투표를 방지하기 위해 투표 진행 시 개개인의 투표 일시와 정보가 기록됩니다.
                      만약 아래 사항을 위반할 경우 관련법에 따라 조치될 수 있음을 알려드립니다.
                  </span>
                  <span style="font-weight:bold;font-size:small;text-align:left;">
                      <p style="margin-top:10px">
                          1. 본인 외 다른 사람의 대리 투표를 하지 않는다.</p>
                  </span>
              </div>
              <div class="signbtns">
                  <button class="nsignbtn btn btn-primary" onclick="alert('메인으로 돌아갑니다.');document.location.href='/main'">동의안함</button>
                  <button class="signbtn btn btn-primary" type="submit">동의함</button>
              </div>
          </div>
        </form>
    </div>
	<%- include('foot.ejs'); %>
  </body>
  <% } %>
</html>