<!doctype html>
<html lang="ko">
  <head>
	<%- include('head.ejs'); %>
	<title>Vote2 Page</title>
  </head>
  <% /* session.univ는 학생의 단과대학을 표시해줌 */ %>
  <% if(!session.userid) { %>
    <script>document.location.href="/login";</script>
  <% } else { %>
<body class="loginbody">
    <div class="text-center">
        <%- include('header.ejs'); %>
        <div class="vote-banner">
            <span class="vote-date">2020 상명대 선거</span>
            <span class="vote-name">총학생회</span>
        </div>
        <!-- vote-table -->
        <div class="vote-table vote-table2">
            <!-- radio input loop -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" id="giho_1" name="giho">
                    </div>
                </div>
                <label class="form-control giho" for="giho_1">기호 1번 S.Catch</label>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" id="giho_2" name="giho">
                    </div>
                </div>
                <label class="form-control giho" for="giho_2">기호 2번 브릿지</label>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" id="giho_3" name="giho">
                    </div>
                </div>
                <label class="form-control giho" for="giho_3">기권</label>
            </div>
            <!-- radio input loop end -->
        </div>
        <!-- vote-table end -->
        <div class="vote-box">
            <div class="votebtns">
                <button class="signbtn btn btn-secondary" style="background-color:#6C757D;border-color:#6C757D;" onclick="document.location.href='/vote';">뒤로가기</button>
                <button class="signbtn btn btn-primary" onclick="document.location.href='/finvote';">투표하기</button>
            </div>
        </div>
    </div>
	<%- include('foot.ejs'); %>
  </body>
  <% } %>
</html>