<div class="main-header">
    <a href="/main" class="loading-action"><img class="mb-4" src="/img/smulogo4.png" alt width="150" height="47"></a>
    <a href="/help" class="loading-action"><img class="help" src="/img/suggestion.png" alt width="45" height="40"></a>
    <a href="javascript:if(confirm('로그아웃하시겠습니까?'))document.location.href='/logout';"><img class="sidemenu mb-4" src="/img/logout.png" alt width="45" height="40"></a>
</div>